.clear-fix {
  clear: both;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Exo", sans-serif; */
  font-family: sans-serif;
  color: black;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

#nav {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f3ff;
  border-bottom: 1px solid #ddd6ff;
  z-index: 1000;
  display: flex;
  align-items: center;
}

#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav .container .logo {
  display: flex;
  align-items: center;
}

#nav .container .logo i {
  width: 40px;
  height: 40px;
  background-color: #8e51ff;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav .container .logo span {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
}

#nav .container .links {
  display: flex;
  align-items: center;
}

#nav .container .links ul {
  display: flex;
  column-gap: 20px;
}

#nav .container .links ul li a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: color 0.5s;
  position: relative;
}

#nav .container .links a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.5s;
  background-color: #7f22fe;
}

#nav .container .links a:hover {
  color: #7f22fe;
}

#nav .container .links a:hover::after {
  width: 100%;
}

#home .container {
  margin-top: 70px;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

#home .container .product-image {
  width: 585px;
  height: 540px;
  padding: 20px;
  border: 2px solid #e1e3e7;
  border-radius: 25px;
}

#home .container .product-image .image {
  position: relative;
  height: 100%;
}

#home .container .product-image .image img {
  border-radius: 15px;
  object-fit: cover;
  height: 100%;
}

#home .container .product-image .image span {
  background-color: #8e51ff;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

#home .container .content {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

#home .container .content .benefit-tags .purble {
  background-color: #a684ff;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  margin: 0 10px 0 0;
}

#home .container .content .description h1 {
  font-size: 48px;
  font-weight: 700;
}

#home .container .content .description h1 span {
  font-size: 48px;
  font-weight: 700;
  color: #8e51ff;
}

#home .container .content .description p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}

#home .container .content .price-tags {
  display: flex;
  column-gap: 20px;
  justify-content: left;
  align-items: center;
}

#home .container .content .price-tags .price-discount {
  font-size: 36px;
  font-weight: 700;

  vertical-align: middle;
}

#home .container .content .price-tags .price {
  font-size: 24px;
  font-weight: 400;

  text-decoration: line-through;
  vertical-align: middle;
}

#home .container .content .price-tags .red-price {
  font-size: 14px;
  font-weight: 700;
  color: #e7000b;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: #ffe2e2;
  vertical-align: middle;
}

#home .container .content .price-footer {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

#home .container .content i {
  margin-right: 10px;
}

#home .container .content .add-cart {
  color: white;
  background-color: #8e51ff;
  border: 0;
  transition:
    transform 0.2s,
    font-weight 0.2s;
}

#home .container .content .add-wishlist {
  background-color: white;
  border: 2px solid #e1e3e7;
  transition:
    transform 0.2s,
    font-weight 0.2s;
}

#home .container .content button {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
}

#home .container .content button:hover {
  transform: scale(1.03);
  font-weight: 900px;
}

#specifications {
  background-color: #f5f3ff;
  padding: 70px 0;
}

#specifications .container {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  justify-content: center;
  align-items: center;
}

#specifications .container .header h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
#specifications .container .header h2 span {
  font-size: 36px;
  font-weight: 700;
  color: #8e51ff;
}

#specifications .container span.head {
  font-size: 20px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

table .bor-bot-2 {
  border-bottom: 2px solid #dadee3;
}
table tbody td {
  border-bottom: 1px solid #dadee3;
}
table tbody td.no-border {
  border-bottom: 0;
}

#specifications .container .table {
  border: 2px solid #d1d5dc;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  align-self: stretch;
}

.table table {
  text-align: center;
  width: 100%;
}

.table thead th {
  height: 70px;
  font-size: 18px;
  align-content: center;
}
.table thead td {
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  align-content: flex-start;
  color: #6a7282;
}

.table thead tr th.purbleBack {
  background-color: #ede9fe;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.table thead tr td.purbleBack {
  background-color: #ede9fe;
}

.table tbody tr td.purbleBack {
  background-color: #ede9fe;
}

.table tfoot tr td.purbleBack {
  background-color: #ede9fe;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table tbody td.purbleBack span {
  background-color: #8e51ff;
  border-radius: 15px;
  padding: 7px 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.table tbody td.purbleBack span i {
  margin-right: 5px;
}

.table tbody td.red {
  font-size: 16px;
  font-weight: 400;
  color: #f54900;
}

.table tbody td.red i {
  margin-right: 5px;
}

.table tbody td.purblePrice {
  font-size: 24px;
  font-weight: 700;
  color: #7008e7;
}

.table tbody td.blackPrice {
  font-size: 20px;
  font-weight: 600;
}

.table td.size-14 {
  font-size: 14px;
}

.table td.weight-500 {
  font-weight: 500;
}

.table td.Overall {
  font-size: 18px;
  font-weight: 700;
}

.table td.our-product {
  font-weight: 500;
  color: #8e51ff;
}

.table tbody td i {
  margin-right: 10px;
}

.table td i.video {
  color: #00b8db;
}
.table td i.camera {
  color: #00bba7;
}
.table td i.battery {
  color: #00c950;
}
.table td i.range {
  color: #ff6900;
}
.table td i.speed {
  color: #fb2c36;
}
.table td i.shield {
  color: #00a6f4;
}
.table td i.scale {
  color: #615fff;
}
.table td i.rain {
  color: #2b7fff;
}
.table td i.price {
  color: #f0b100;
}

.star {
  color: #fdc700;
}

.table td i.star-gray {
  color: #d1d5dc;
}

.table td {
  height: 60px;
}

.table tfoot td {
  height: 100px;
}

.table tfoot td span {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 10px;
}

.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.padding-L20 {
  padding-left: 20px;
}
.color-p {
  color: #7008e7;
}
.text-left {
  text-align: left;
}

#specifications .container .winner {
  display: flex;
  width: 350px;
  height: 75px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #e5e7eb;
  justify-content: center;
  align-items: center;
}

#specifications .container .winner i {
  margin-right: 20px;
  color: #00c950;
  font-size: 26px;
}

#specifications .container .winner .content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #00a63e;
}
#specifications .container .winner .content span {
  font-size: 14px;
  font-weight: 400;
  color: #00a63e;
}

#reviews {
  padding: 70px 0;
}

#reviews .container {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reviews .container .header h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
#reviews .container .header h2 span {
  font-size: 36px;
  font-weight: 700;
  color: #8e51ff;
}

#reviews .container span.head {
  font-size: 20px;
  font-weight: 400;
}

#reviews .container .body {
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}

#reviews .container .body .card-stick {
  background-color: green;
  padding: 20px;
  border: 2px solid #e5e7eb;
  border-radius: 15px;
  width: 900px;
}

#reviews .container .body .rating-cards {
    background-color: blue;
}

#reviews .container .body .rating-cards .card {
  padding: 20px;
  border: 2px solid #e5e7eb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#reviews .container .body .rating-cards .card .header {
  display: flex;
  justify-content: space-between;
}

#reviews .container .body .rating-cards .card .header .person {
  display: flex;
  column-gap: 20px;
}

#reviews .container .body .rating-cards .card .header .person .info {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  row-gap: 5px;
}

#reviews .container .body .rating-cards .card .header .person .info h4 {
  font-size: 18px;
  font-weight: 700;
}

#reviews .container .body .rating-cards .card .header .person .info .job {
  font-size: 16px;
  font-weight: 400;
}
#reviews .container .body .rating-cards .card .header .person .info .rate span {
  font-size: 14px;
  font-weight: 400;
}

#reviews .container .body .rating-cards .card .header .person img {
  width: 70px;
  height: 70px;
  border: 1px solid #a684ff;
  border-radius: 35px;
}

#reviews .container .body .rating-cards .card .header .person .info h4 {
  display: inline-block;
}

#reviews
  .container
  .body
  .rating-cards
  .card
  .header
  .purchase
  .purchase-purble {
  font-size: 12px;
  font-weight: 600;
  color: #5d0ec0;
  background-color: #ede9fe;
  padding: 5px 10px;
  border-radius: 15px;
  display: block;
  margin-bottom: 10px;
}

#reviews .container .body .rating-cards .card .header .purchase .time {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

#reviews .container .body .rating-cards .card .review {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
